

.array-container {
    position: fixed;
    height: "10000px";
    background: linear-gradient(to top, #9795EF, #F9C5D1); /* This creates a gradient effect using shades of orange, yellow, pink, and blue */
    left: 1%;
    right: 1%;
  }
  
  .arrayBar {
    width: 3px;
    background-color: #000000; 
    display: inline-block;
    margin: 0 1px;
  }

  
input[type="range"] {
  /* Style the slider itself */
  -webkit-appearance: none;
  width: 30%;
  height: 20px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]:hover {
  /* Change the opacity when the slider is hovered */
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  /* Style the thumb (the handle that the user can drag) */
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  /* Style the thumb for Firefox */
  width: 20px;
  height: 20px;
  background: #4caf50;
  cursor: pointer;
}

label[for="myRange"] {
  /* Style the label for the slider */
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  text-align: center;
}
  
.sorted {
  background-color: white;
}

.comparing {
  background-color: red;
}